---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "MeowMeow";
---
<BaseLayout pageTitle={pageTitle}>

  <section class="container mx-auto px-6 py-12">
    <div id="div1" class="p-6 mb-6">
     <div id="div2" class="flex flex-col md:flex-row">
      <div id="div3" class="md:w-1/2 flex justify-center">
        <a href="/hananinade" id="imageLink">
          <img width=350 height=350 alt="ryokushaka-350x350" class="mx-1 mb-4 md:mb-0 rounded-lg image-button" src="/images/ryokushaka-350x350.jpg"/>
        </a>
      </div>
      <div class="md:w-1/2 md:pl-6 flex flex-col justify-center">
       <h2 class="text-2xl font-semibold mb-3">
        花になって - 緑黄色社会
       </h2>
       <p class="mb-6">
        綠黃色社會的第八張單曲，是專為電視動畫『藥屋少女的呢喃』開場的創作。負責作詞的長屋在接受訪問的時候提到，歌詞中的「あんじゃない」這種說話方式，源於猫猫的性格，有毒的東西有時也可以成為藥物，而且猫猫自己，雖然某種程度上帶有毒性，但她還是從事藥屋的工作並且閃耀著光芒。
       </p> 
       <p class="mb-6">
        作詞：長屋晴子 <br>
        作曲：穴見真吾 <br>
        編曲：川口圭太、穴見真吾 <br>
       </p>
       <!-- <a class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300" href="#">
        View
       </a>-->
      </div>
     </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var imageLink = document.getElementById('imageLink');
        if (imageLink) {
            imageLink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default link behavior
                setTimeout(function() {
                    window.open(imageLink.href, '_blank');
                }, 300); // Delay for the "landing" animation
            });
        }
    });
  </script>
</BaseLayout>