---
---

<section class="py-20 bg-cover bg-center" style={{ backgroundImage: `url('/images/hero-screen-01.png')`, height: '300px', backgroundSize: 'cover' }}>

    <!-- <img src={Hero_BG.src} alt="Hero Background" width="2048" height="800">-->
    <div class="container mx-auto px-6">
        <h1 class="text-6xl font-regular mb-4 text-amber-50 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
            喵喵の旋律日語道館
        </h1>
        <p class="text-xl font-regular mb-8 text-amber-50 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
            將歌聲化為語言的鑰匙，解鎖日本語言的美妙世界
        </p>
        
        <!--<a class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300 text-left" href="#">
            Discover More
        </a>-->
    </div>
</section>