---
---

<section class="py-20 bg-cover bg-center" style={{ backgroundImage: `url('/images/hero-screen-01.png')`, height: '350px', backgroundSize: 'cover' }}>

    <!-- <img src={Hero_BG.src} alt="Hero Background" width="2048" height="800">-->
    <div class="container mx-auto px-6">
        <h1 class="text-6xl font-bold mb-4 text-left">
            Experience the Joy of Music
        </h1>
        <p class="text-xl mb-8 text-left">
            Immerse yourself in the uplifting melodies and soulful rhythms at Music Air Water.
        </p>
        <a class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300 text-left" href="#">
            Discover More
        </a>
    </div>
</section>